# Archivos y directorios de Read the Docs y Sphinx
_build/
_readthedocs/

# Archivos de entorno y caché
.venv/
env/
venv/
*.pyc
__pycache__/

# Archivos de registro y bases de datos locales
*.log
*.db

